<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a94941.mydemo">

    <!--百度地图-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--读写-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!--蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 二维码相关权限 -->
    <uses-permission android:name="android.permission.CAMERA" /><!--相机-->
    <uses-permission android:name="android.permission.VIBRATE" /><!--振动-->

    <!-- 信鸽 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--ColorViewDemo-->
        <activity
            android:name=".activitys.colorViewDemo.ColorViewDemoActivity"
            android:screenOrientation="portrait" />
        <!--SuperTextView-->
        <activity
            android:name=".activitys.superTextView.SuperTextViewActivity"
            android:screenOrientation="portrait" />
        <!--SuperTextView-->
        <activity
            android:name=".activitys.superTextViewDemo.SuperTextViewDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.superTextView.Type0Activity"
            android:screenOrientation="portrait" />
        <!--ViewPagerCards-->
        <activity
            android:name=".activitys.viewPagerCards.ViewPagerCardsActivity"
            android:screenOrientation="portrait" />
        <!--DropDownMenu-->
        <activity
            android:name=".activitys.dropDownMenu.DropDownMenuActivity"
            android:screenOrientation="portrait" />
        <!--FourLevelLinkage-->
        <activity
            android:name=".activitys.fourLevelLinkage.FourLevelLinkageActivity"
            android:screenOrientation="portrait" />
        <!--TempControlView-->
        <activity
            android:name=".activitys.tempControlView.TempControlViewActivity"
            android:screenOrientation="portrait" />
        <!--百度地图-->
        <activity
            android:name=".activitys.baiduDemo.BaiduDemoActivity"
            android:screenOrientation="portrait" />
        <!-- 声明service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- AK鉴权 -->
        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kSiWCtFurgQ3VYWMHvDMaOv0qBSCERxG" />  <!-- http://lbsyun.baidu.com/apiconsole/key -->
        <!--百度地图:Handler+基础定位-->
        <activity
            android:name=".activitys.baiduDemo.LocationActivity"
            android:screenOrientation="portrait" />
        <!--百度地图:连续定位-->
        <activity
            android:name=".activitys.baiduDemo.LocationFilterActivity"
            android:screenOrientation="portrait" />
        <!--蓝牙-->
        <activity
            android:name=".activitys.bluetoothDemo.BluetoothDemoActivity"
            android:screenOrientation="portrait" />
        <!--zxing-->
        <activity
            android:name=".activitys.zxingDemo.ScanActivity"
            android:screenOrientation="portrait" />
        <!--二维码-->
        <activity
            android:name=".activitys.zxingDemo.QRCodeActivity"
            android:screenOrientation="portrait" />
        <!--扫一扫-->
        <activity
            android:name=".activitys.zxingDemo.ScanningActivity"
            android:screenOrientation="portrait" />
        <!--自定义view-->
        <activity
            android:name=".activitys.myView.MyViewActivity"
            android:screenOrientation="portrait" />
        <!--自定义view之审核进度-->
        <activity
            android:name=".activitys.myView.activity.AuditProgressActivity"
            android:screenOrientation="portrait" />
        <!--自定义view之自定义时钟-->
        <activity
            android:name=".activitys.myView.activity.ClockActivity"
            android:screenOrientation="portrait" />

        <!--信鸽-->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver
            android:name=".receiver.MessageReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!--日期-->
        <activity
            android:name=".activitys.dateDemo.DateActivity"
            android:screenOrientation="portrait" />
        <!--spinner-->
        <activity
            android:name=".activitys.spinnerDemo.SpinnerActivity"
            android:screenOrientation="portrait" />
        <!--RadioGroup-->
        <activity
            android:name=".activitys.spinnerDemo.RadioGroupActivity"
            android:screenOrientation="portrait" />
        <!--JUnit4-->
        <activity
            android:name=".activitys.JUnit4Activity.JUnit4Activity"
            android:screenOrientation="portrait" />
        <!--自定义控件之折线图-->
        <activity
            android:name=".activitys.chartViewActivity.ChartViewActivity"
            android:screenOrientation="portrait" />
        <!--RecyclerView-->
        <activity
            android:name=".activitys.recyclerViewActivity.RecyclerViewActivity"
            android:screenOrientation="portrait" />
        <!--Service-->
        <activity
            android:name=".activitys.serviceActivity.ServiceActivity"
            android:screenOrientation="portrait" />
        <service android:name=".activitys.serviceActivity.MyService" />
        <!--StepView-->
        <activity android:name=".activitys.stepViewDemo.StepViewActivity" />
        <!--android:screenOrientation="landscape" />-->
        <!--TouchEvent-->
        <activity
            android:name=".activitys.touchEventDemo.TouchEventActivity"
            android:screenOrientation="portrait" />

        <!--AndroidView-->
        <activity
            android:name=".activitys.androidView.AndroidViewActivity"
            android:screenOrientation="portrait" />
        <!--SpannableString-->
        <activity
            android:name=".activitys.SpannableString.SpannableStringActivity"
            android:screenOrientation="portrait" />
        <!--Calculator-->
        <activity
            android:name=".activitys.Calculator.CalculatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.Calculator.MyCalculatorActivity"
            android:screenOrientation="portrait" />
        <!--AmountView-->
        <activity
            android:name=".activitys.AmountViewActivity.AmountViewActivity"
            android:screenOrientation="portrait" />
        <!--EditTextActivity-->
        <activity
            android:name=".activitys.EditTextActivity.EditTextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--日历-->
        <activity
            android:name=".activitys.CalendarView.CalendarViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--短信-->
        <activity
            android:name=".activitys.smsActivity.SmsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--日出日落-->
        <activity
            android:name=".activitys.sunAnimationViewActivity.SunAnimationViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--Canvase-->
        <activity
            android:name=".activitys.canvaseActivity.CanvaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>
</manifest>